.*
!.gitignore
!*/.gitignore
/build
/build_release
/BUILD*
__pycache__
venv
/venv
venv/
/venv/

*.whl
*.egg-info

extern/python
extern/libtorch
dl_clients/build
dl_clients/build-module-test
tmp/

# Stray Slurm build logs
build-cpp-ml-interface.*.err
build-cpp-ml-interface.*.out
