[submodule "extern/AIxeleratorService"]
	path = extern/AIxeleratorService
	url = git@github.com:chrisb09/AIxeleratorService.git
[submodule "extern/SmartRedis"]
	path = extern/SmartRedis
	url = git@github.com:chrisb09/SmartRedis.git
	branch = develop
